

$primary-color : rgb(70, 170, 180);

body {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  width: 1080px;
  background: #FFFFFF;
  //background: linear-gradient(white, red);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 50px auto;
  
}

.header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA;
  
}

.logo-box {

    img {
      margin-right: 15px;
    }

    display: flex;
    margin-bottom: 15px;
}

.menu-list {
  display: flex;
  color: #5C5C5C;
  font-weight: 600;
  
  li span {
    margin-left: 10px;
  }

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  li + li {
    
    margin-left: 30px;
  }
}

.content {
  padding: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}



.price-style {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sneaker-btn {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
}

 .favorite {
    position: absolute;
    cursor: pointer; 
  }

.content-top {
  display: flex;
  justify-content: space-between;
}

.search-block {
  padding-left: 18px;
  display: flex;
  align-items: center;
  width: 270px;
  height: 45px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;

  &__input {
    max-width: 200px;
    border: none;
    padding: 10px 15px;
    background-color: transparent;
  }

  &__btn {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
  }
}

.overlay {
  
  //display: none;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cart-empty {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    text-align: center;
  }

}



.drawer {
  padding: 30px;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  top: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;

  }

  .cart-empty {
    flex: 1;
    .green-btn {
      width: 245px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    button {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }

  &__items {
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
   
  }
  &__item {
    padding: 20px 20px 30px 20px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    max-width: 325px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-info {
    max-width: 150px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 17px;
  }

  &__info {

    li {
      display: flex;
      align-items: flex-end;
      div {
        flex-grow: 1;
        position: relative;
        border-bottom: 1px dashed #DFDFDF;
        top: -4px;
        margin: 0 7px;
      }
    }

    li + li {
      margin-top: 18px;
    }
  }
}

.green-btn {
      margin-top: 25px;
      width: 325px;
      height: 55px;
      border: none;
      background: #9DD558;
      border-radius: 18px;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FFFFFF;
      position: relative;

      


      img {
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform ease-in-out .2s;
      }

      &__left img {
         left: 20px; 
      }

      &:hover {
        background: lighten($color: #9DD558, $amount: 5%);
        img {
          transform: translateX(5px);
        }
      }

      &:active {
        background: darken($color: #9DD558, $amount: 5%);
      }
}
